<b>welcome to the Olympics !</b>
{{comp.competition}}
<hr/>
<form>
    <table>
        <tr>
            <td>Location:</td>
            <td>
                <select name="location" [(ngModel)]="location">
                    <option *ngFor="let o of locations" value="{{o}}">
                        {{o}}
                     </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Date:</td>
            <td>
                <input type="date" id="date" name="date" [(value)]='date' min="2021-01-01" max="2021-12-31" [(ngModel)]='date'>
            </td>
        </tr>
        <tr>
            <td>Time:</td>
            <td>
                <input type="time" id="appt" name="appt" [(ngModel)]='time' required>
            </td>
        </tr>
        <tr>
            <td colspan='2'>
                <input type='button' value='Set date' (click)='setDate()'>
            </td>
        </tr>
    </table>
</form>
<span class='error'>{{message}}</span>
