<b>welcome to the Olympics Log in site</b>

<hr/>
<form>
    <table>
        <tr>
            <td>Username:</td>
            <td>
                <input type='text' name='username' [(ngModel)]='username'>
            </td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>
                <input type='password' name='password' [(ngModel)]='password'>
            </td>
        </tr>
        <tr>
            <td colspan='2'>
                <button mat-flat-button color="primary" (click)='loginToTheSystem()'>Login</button>
            </td>
        </tr>
    </table>
</form>
<span class='error'>{{message}}</span>
