<div>
    <mat-toolbar color="primary">

      <span *ngIf='!user'>
        <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu"> 
          <button (click)='goHome()' mat-menu-item>
            <mat-icon>home</mat-icon>
            <span>Home</span>
          </button>
          <button (click)='listCountries()' mat-menu-item>
            <mat-icon>flag</mat-icon>
            <span>List Countries</span>
          </button>
          <button (click)='listMedals()' mat-menu-item>
            <mat-icon>list_alt</mat-icon>
            <span>List Medals</span>
          </button>
          <button (click)='login()' mat-menu-item>
            <mat-icon>list_alt</mat-icon>
            <span>Login</span>
          </button>
          <button (click)='routerRegister()' mat-menu-item>
            <mat-icon>list_alt</mat-icon>
            <span>Register</span>
          </button>
          <button (click)='changePassword()' mat-menu-item>
            <mat-icon>list_alt</mat-icon>
            <span>Change password</span>
          </button>
        </mat-menu>
      </span>

    <span *ngIf='user && user.userType == organizer'>
      <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu"> 
        <button (click)='goHome()' mat-menu-item>
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
        <button (click)='addSport()' mat-menu-item>
          <mat-icon>fitness_center</mat-icon>
          <span>Add Sport</span>
        </button>
        <button (click)="findAthlete()" mat-menu-item>
          <mat-icon>person</mat-icon>
          <span>Find Athlete</span>
        </button>
        <button (click)='addCompetition()' mat-menu-item>
          <mat-icon>playlist_add</mat-icon>
          <span>Add competition</span>
        </button>
        <button (click)='listCountries()' mat-menu-item>
          <mat-icon>flag</mat-icon>
          <span>List Countries</span>
        </button>
        <button (click)='listMedals()' mat-menu-item>
          <mat-icon>list_alt</mat-icon>
          <span>List Medals</span>
        </button>
      </mat-menu>
    </span>


    <span *ngIf='user && user.userType == headOfTheNationalDelegation'>
      <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu"> 
        <button (click)='goHome()' mat-menu-item>
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
        <button (click)='addAthlete()' mat-menu-item>
          <mat-icon>person_add</mat-icon>
          <span>add Athlete</span>
        </button>
        <button (click)='addAthleteJSON()' mat-menu-item>
          <mat-icon>apartment</mat-icon>
          <span>Add Athlete JSON</span>
        </button>
        <button (click)='listCountries()' mat-menu-item>
          <mat-icon>flag</mat-icon>
          <span>List Countries</span>
        </button>
        <button (click)='listMedals()' mat-menu-item>
          <mat-icon>list_alt</mat-icon>
          <span>List Medals</span>
        </button>
      </mat-menu>
    </span>

    <span *ngIf='user && user.userType == competitionDelegate'>
      <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu"> 
        <button (click)='goHome()' mat-menu-item>
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
        <button (click)='myProfile()' mat-menu-item>
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        <button (click)='listCountries()' mat-menu-item>
          <mat-icon>flag</mat-icon>
          <span>List Countries</span>
        </button>
        <button (click)='listMedals()' mat-menu-item>
          <mat-icon>list_alt</mat-icon>
          <span>List Medals</span>
        </button>
      </mat-menu>
    </span>

      
    <button (click)="goHome()" mat-menu-item>
      <mat-icon class='homeIcon'>home</mat-icon>
      <span>Olympics Games</span>
    </button>
     
    <span class="example-spacer"></span>
    <div class="example-button-row">
      <div *ngIf="user;">
        <a mat-raised-button> {{user.name}} {{user.surname}}</a>
          <span>&nbsp;</span>
        <button mat-raised-button (click)="logout()">Logout</button>
      </div>
    
    </div>
  </mat-toolbar>

  </div>