<b>welcome to the Olympics Change password site</b>
<hr/>
<form>
    <table>
        <tr>
            <td>Username:</td>
            <td>
                <input type='text' name='username' [(ngModel)]='username'>
            </td>
        </tr>
        <tr>
            <td>Old password:</td>
            <td>
                <input type='password' name='oldPassword' [(ngModel)]='oldPassword'>
            </td>
        </tr>
        <tr>
            <td>New password:</td>
            <td>
                <input type='password' name='newPassword' [(ngModel)]='newPassword'>
            </td>
        </tr>
        <tr>
            <td colspan='2'>
                <button mat-flat-button color="primary" (click)='changePassword()'>Change password</button>
            </td>
        </tr>
    </table>
</form>
<span class='error'>{{message}}</span>
